<app-dialog>
	<app-dialog-header>Отправка PUSH сообщения</app-dialog-header>
	<form [formGroup]='form' class='form'>
		<select formControlName='user_id'>
			<option
				*ngFor='let user of dialogData.users'
				[value]='user.user_id'
			>{{user.fio}}
			</option>
		</select>

		<input type='text' #dateInput (focus)="dateInput.type='datetime-local'" formControlName='date_start' placeholder='Дата отправки'>
		<input formControlName='push_message' placeholder='Сообщение'>
	</form>
	<app-dialog-footer>
		<button (click)='sendPushMessage()' class='form__btn' [disabled]='formIsValid'>Отправить</button>
	</app-dialog-footer>
</app-dialog>
