<app-dialog>
	<app-dialog-header>Отправка Push-сообщения</app-dialog-header>
	<form [formGroup]='form' class='form'>
		<select formControlName='user_id'>
			<option value="" disabled selected hidden>Клиент</option>
			<option [value]='client.user_id' *ngFor='let client of dialogData.users'>
				{{client.fio}}
			</option>
		</select>

		<input type='text' #dateInput (focus)="dateInput.type='datetime-local'" formControlName='date_start' placeholder='Дата отправки'>

		<input formControlName='push_message' placeholder='Сообщение'>
	</form>
	<app-dialog-footer>
		<button (click)='sendPushMessage()' class='form__btn' [disabled]='formIsValid'>Отправить</button>
	</app-dialog-footer>
</app-dialog>
